body{
padding:0;
margin:0;
min-height:100vh;
background-image: linear-gradient(to bottom right, white,grey,white);



}


*{
box-sizing:border-box;
}

.house{
width:100vw;
height:100vh;
padding-bottom:25vh;
min-height:100vh;
display:flex;
flex-direction:column;

}

.head{
width:100vw;
line-height:20vh;
font-size:6vw;
text-align:center;
font-weight:700;
box-sizing:border-box;
background-image: linear-gradient(to bottom right, white,pink,white);
font-family:monospace;
}

.navbar{
width:100vw;
line-height:10vh;
background-color:black;
overflow: auto;
white-space: nowrap;


}

.navbar a{
text-decoration:none;
color:white;
font-size:2.5vw;
padding-top:0.9vw;
padding-bottom:1.3vw;
font-weight:700;
padding-left:2.5vw;
padding-right:2vw;
text-indent:2vw;

}

.navbar a:hover{
background-color:white;
color:black;
}

.main{
width:100vw;
background-color:lightgray;
text-indent:2vw;
}



.hhh{
line-height:4.5vw;
font-size:3vw;
font-family:monospace;
margin-top:4vw;
text-align:center;
}

.hhh:hover{
color:cyan;
}



.hs,.ll{
font-size:2.3vw;
font-family:monospace ;
margin-left:3vw;
font-weight:700;
line-height:3.5vw;
}



.imagecon{
margin-top:4vw;

}

.img1{
width:60%;
max-height:3%;
margin:auto;
display:block;

}

.imagecon2{
margin-top:2vw;

}

.img2{
width:50%;
max-height:2%;
margin:auto;
display:block;

}

.footer{
line-height:25vh;
width:100vw;
background-color:black;
bottom:0;
font-size:2vw;
color:white;
box-sizing:border-box;
padding:1vw;

}

.hr{
margin-top:2vw;
color:black;
width:90%;
background-color:black;}

.hr2{
margin-top:1vw;
color:black;
width:90%;
background-color:black;}


.p1{
font-size:1.2vw;
color:purple;

}

.hr3{
margin-top:1.5vw;
color:black;
width:90%;
background-color:black;}


.new{
font-size:2vw;
padding-bottom:0.4vw;
arial narrow;
margin-left:3vw;
font-weight:700;

}

.p1,.p2{
margin-left:3vw;
line-height:1vw;
font-family:arial ;
}

h3{
margin-left:3vw;
font-size:2.5vw;
font-family:monospace;
color:green;
margin-top:-0.2vw;

}

.second{
margin-top:2vw;
}

.mage{
width:50%;
height:90%;
margin:auto;
display:block;

}

.pfoot{
font-size:2vw;
color:white;
display:block;
line-height:3.5vw;
font-family:arial ;
font-weight:700;


}

.footcon1{
padding-top:8vw;
margin:auto;
margin-left:20vw;}

.footcon2{
padding-top:8vw;
margin:auto;
margin-left:20vw;}

.footcon1, .footcon2{
float:left;
padding-bottom:4vw;
}

.pfoot{
font-size:2vw;
color:white;
display:block;
line-height:3.5vw;
font-family:arial ;
font-weight:700;
}

.sub{
color:white;
text-align:center;
max-height:6vw;
border:0.5vw solid white;
font-size:6vw;
}

.logo{
width:30%;
line-height:90%;
background-image: linear-gradient(to bottom right, white, pink,white);
border:2px solid white;
margin:auto;
font-size:5vw;
color:black;
font-weight:700;
text-align:center;
box-sizing:border-box;
margin-top:3vw;
border-radius:3vw 0 3vw 0;
}

.pf a{
font-size:2vw;
color:white;
display:block;
line-height:3vw;
font-family:arial ;
font-weight:700;
text-align:center;
text-decoration:none;
}

.pff{
font-size:2vw;
color:white;
padding-top:2vw;
line-height:4.5vw;
font-family:arial ;
font-weight:700;
text-align:center;
}

.pff a{
font-size:2vw;
color:white;
padding-top:2vw;
line-height:4.5vw;
font-family:arial ;
font-weight:700;
text-align:center;
text-decoration:none;
}

.fab {
color:white;
font-size:4vw;
text-align:center;
margin-left:1.5vw;
}

.fab:hover{
color:cyan;
}

.fab a{
text-decoration:none;

}

.social{
width:30vw;
box-sizing:border-box;
margin:auto;
margin-top:-5vw;
}

.x,.s{
display:block;
line-height:6.5vw;
text-align:center;
}

.for{
max-width:45vw;
line-height:4vw;
background-color:white;
border-radius:0 1vw 1vw 0;
box-sizing:border-box;
border:0.3vw solid white;
margin:auto;
margin-top:4vw;
}


::placeholder{
color:white;
font-size:3.5vw;
}

.in{
background-color:black;
padding:2.5vw;
max-width:30vw;
color:white;
border:0.3vw solid black;
box-sizing:border-box;
font-size:3vw;
font-weight:700;
transition: width 2s;
}

.in:hover{
width:35vw;
}

.fas{
font-size:4vw;
color:black;
float:right;
padding:2.5vw;
}



.mage2{
max-width:45vw;
max-height:50vh;
margin-top:3vw;
margin-left:3vw;
}

.himage{
width:100%;
padding-bottom:3vw;
}



.a{
position:relative;
font-size:2.5vw;
margin-left:1.5vw;
color:black;
margin-top:3vw;
line-height:2.8vw;
font-weight:700;
font-family:monospace;

}


.a:hover::before{
color:green;
border-bottom:0.3vw solid black;
}


.where{
font-size:2vw;
margin-top:24.5vw;
color:purple;
}

.far{
margin-left:1.5vw;
}


.mage2,.a{
float:left;
}

.hell{
font-size:3vw;
margin-left:3vw;
}

.hel{
width:70vw;
color:black;
margin-top:-1.7vw;
margin-left:20vw;
background-color:black;
}

.helle{
font-size:4vw;
color:red;
margin-left:3vw;
}

.hclass{
font-size:2vw;
}

.helle,.hclass{
float:left;
}


@media screen and (max-width: 601px) {
.img1{
width:80%;
}
.head{
width:100vw;
line-height:12vh;
font-size:10vw;
}

.navbar a{
font-size:4.5vw;
}

.navbar{
width:100vw;
line-height:6vh;
}

.mage{
width:80%;
height:80%;
}

.pfoot{
font-size:3vw;
line-height:6.5vw;
}

.fab {
color:white;

font-size:6vw;
text-align:center;
margin-left:3.5vw;
}

.p2{
font-size:3.5vw;

}

.p1{
font-size:2.5vw;
}



.ll,.hs{
font-size:3vw;
line-height:4.5vw;
}

.hhh,.hh{
font-size:3.8vw;
line-height:4.5vw;
}

h1{
line-height:2.5vw;
font-size:4vw;
}

.pf a{
font-size:3vw;
}

.pff a{
font-size:3vw;
}

.pff{
font-size:3vw;
}

.logo{
width:60%;
line-height:90%;
background-image: linear-gradient(to bottom right, white, pink,white);

margin:auto;
font-size:6.5vw;
color:black;
font-weight:700;
text-align:center;
box-sizing:border-box;
margin-top:3vw;
border-radius:3vw 0 3vw 0;
padding:2vw;
}

h3{
font-size:5vw;
margin-top:2vw;
margin-left:2vw;

}

.sc{
font-size:3vw;
}

.s{
margin-top:4.5vw;
}

.x{
margin-top:3vw;}

mage2{
width:20vw;
height:30vh;
}

.a,.b{
font-size:2.5vw;
line-height:3.3vw;
}



.pem{
padding-top:2.1vw;
font-size:2.2vw;
}

.new{
font-size:3vw;
}


.where{
font-size:2vw;
margin-top:28.5vw;
color:purple;
}


}